In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [73]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")

In [74]:
driver.get("https://www.naukri.com/")

In [75]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [76]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [77]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [47]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [82]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:20]:
    title=i.text
    job_title.append(title)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:20]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:20]:
    experience=i.text
    experience_required.append(experience)

In [84]:
print(len(job_title),len(company_name),len(experience_required))

191 191 191

In [85]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Company_name':company_name,'Experience':experience_required})
df

,Title,Company_name,Experience
0,Data Engineer/Data Analyst,Tech Mahindra,6-11 Yrs
1,Data Analyst,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs
...,...,...,...
186,Data Analyst,Vantageiq Technologies Opc,2-4 Yrs
187,Data Analyst,RICHMOND TALENT,1-3 Yrs
188,Procurement Data Analyst - SCM,Ideal Placement And Consultants (p) Ltd.,5-10 Yrs
189,Data Analyst,Ingka Centres,3-8 Yrs
190,Data Analyst,Allegis Group,4-9 Yrs